<template>
  <div>
    <!-- [ Form corporate ] start -->
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-8 col-md-6">
        <form @submit.prevent="submit">
          
          <div class="form-item" :class="{errorInput: $v.company.$error}">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">&#9733;</span>
              </div>
              <input type="text" class="form-control" placeholder="Company Name" aria-label="Username" aria-describedby="basic-addon1"
                    v-model="company"
                    :class="{error: $v.company.$error}"
                    @change="$v.company.$touch()">
            </div>
            <div class="error mb-error" v-if="!$v.company.required">Company name is required</div>
            <div class="error mb-error" v-if="!$v.company.minLength">Company name must have at least {{$v.company.$params.minLength.min}}</div>
          </div>
          
          <div class="form-item" :class="{errorInput: $v.email.$error}">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <input type="email" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1"
                    v-model="email"
                    :class="{error: $v.email.$error}"
                    @change="$v.email.$touch()">
            </div>
            <div class="error mb-error" v-if="!$v.email.required">Name is required</div>
            <div class="error mb-error" v-if="!$v.email.email">Email is not corect</div>
          </div>

          <div class="form-item" :class="{errorInput: $v.password.$error}">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">&#128274;</span>
              </div>
              <input type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1"
                    v-model="password"
                    :class="{error: $v.password.$error}"
                    @change="$v.password.$touch()">
            </div>
            <div class="error mb-error" v-if="!$v.password.required">Password is required</div>
            <div class="error mb-error" v-if="!$v.password.minLength">Password must have at least {{$v.password.$params.minLength.min}}</div>
          </div>

          <div class="form-group text-left">
            <div class="checkbox checkbox-fill">
              <input id="chk4" type="checkbox">
              <label for="chk4" class="cr">
                I have read and I agree to the <a href="#"> terms of use</a>, <a href="#">privacy notice</a> and <a href="#">offer details</a>                                
              </label>
            </div>
          </div>

          <button type="submit" class="btn btn-dark btn-block">Sign Up</button>

        </form>
      </div>
    </div>
    <!-- [ Form corporate ] end -->
  </div>
</template>

<script>
import axios from 'axios'
import { required, email, minLength } from 'vuelidate/lib/validators'
export default {
  data() {
    return {
      company: '',
      email: '',
      password: '',
      submitStatus: null
    }
  },
  validations: {
    company: {
      required,
      minLength: minLength(4)
    },
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(8)
    }
  },
  methods: {
    submit() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR'
        console.log('no submit!')
      } else {
        this.submitStatus = 'PENDING'
        // do your submit logic here
        axios
          .post('http://139.99.21.147:1337/auth/local/register', {
            username: this.company,
            email: this.email,
            password: this.password
          })
          .then(response => {
            // Handle success.
            console.log('Well done!');
            console.log('User profile', response.data.user);
            console.log('User token', response.data.jwt);
            this.$router.push('/');
          })
          .catch(error => {
            // Handle error.
            console.log('An error occurred:', error);
          });
      }
    }
  }
}
</script>

<style lang="scss" scoped>
button {
  margin-bottom: 1rem;
}
.checkbox, label {
  padding-bottom: 0;
  margin-bottom: 0;
}
// [ Vuelidate ] start
.form-item {
  .error { 
    display: none;
  }
  &.errorInput {
    .error {
      display: block;
    }
  }
  .mb-error {
    margin-bottom: 15px;
    color: #d84860;
    font-size: 13px;;
  }
} 
input {
  &.error {
    color: #d84860;
    border-color: #fd93a4;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 13, 0.25);
  }
}
// [ Vuelidate ] end
</style>