<template>
  <div>
    <!-- [ Dropdown language ] start -->
    <div class="dropdown">
      <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Language
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">English</a>
        <a class="dropdown-item" href="#">Italian</a>
        <a class="dropdown-item" href="#">Russian</a>
      </div>
    </div>
    <!-- [ Dropdown language ] end -->
  </div>
</template>

<script>
export default {
  
}
</script>

<style lang="scss" scoped>
.dropdown {
  position: fixed;
  top: 20px;
  right: 20px;
  a {
    text-align: center;
    padding: 2px 5px;
  }
  button {
    width: 160px;
  }
}
.dropdown-menu.show:before {
  content: '';
}
</style>