<template>
  <div class="container">

    <!-- [ Header ] start -->
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-8 col-md-6">
        <img src="@/assets/images/logo_main.png" alt="Totalflow" width="300">
        <div class="description">Welcome to totalflow Excellence in Project & Business Management</div>
        <h2 class="title">Sign In</h2>
      </div>
    </div>
    <!-- [ Header ] end -->

    <!-- [ Form ] start -->
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-8 col-md-6">
        <form @submit.prevent="submit">
          
          <div class="form-item" :class="{errorInput: $v.email.$error}">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <input type="email" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1"
                    v-model="email"
                    :class="{error: $v.email.$error}"
                    @change="$v.email.$touch()">
            </div>
            <div class="error mb-error" v-if="!$v.email.required">Name is required</div>
            <div class="error mb-error" v-if="!$v.email.email">Email is not corect</div>
          </div>
          
          <div class="form-item" :class="{errorInput: $v.password.$error}">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">&#128274;</span>
              </div>
              <input type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1"
                    v-model="password"
                    :class="{error: $v.password.$error}"
                    @change="$v.password.$touch()">
            </div>
            <div class="error mb-error" v-if="!$v.password.required">Password is required</div>
            <div class="error mb-error" v-if="!$v.password.minLength">Password must have at least {{$v.password.$params.minLength.min}}</div>
          </div>

            <div class="form-group text-left">
              <div class="checkbox checkbox-fill d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" 
                      v-model="save">
                <label for="checkbox-fill-a1" class="cr"> Save Details</label>
              </div>
            </div>

          <button type="submit" 
                  class="btn btn-dark btn-block"
                  :disabled="submitStatus === 'PENDING'">Login</button>

        </form>
      </div>
    </div>
    <!-- [ Form ] end -->

    <!-- [ Link: Reset and Signup ] start -->
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-8 col-md-6">
        Forgot password? 
        <router-link to="/reset">Reset</router-link>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-8 col-md-6">
        Don’t have an account? 
        <router-link to="/registration">Signup</router-link>
      </div>
    </div>
    <!-- [ Link: Reset and Signup ] end -->

    <!-- [ Dropdown language ] start -->
    <SelectLanguage/>
    <!-- [ Dropdown language ] end -->

  </div>
</template>

<script>
import SelectLanguage from '@/components/SelectLanguage.vue'
import axios from 'axios'
import { required, email, minLength } from 'vuelidate/lib/validators'
export default {
  components: {
    SelectLanguage
  },
  data() {
    return {
      email: '',
      password: '',
      save: true,
      submitStatus: null
    }
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(8)
    }
  },
  methods: {
    submit() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR'
      } else {
        this.submitStatus = 'PENDING'
        // do your submit logic here
        axios
          .post('http://139.99.21.147:1337/auth/local', {
              identifier: this.email,
              password: this.password
          })
          .then(response => {
            // Handle success.
            console.log('Well done!');
            console.log('User profile', response.data.user);
            console.log('User token', response.data.jwt);
            this.$router.push('/');
          })
          .catch(error => {
            // Handle error.
            console.log('An error occurred:', error);
          });
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  text-align: center;
  margin-top: 85px;
  margin-bottom: 20px;
  color: #888;
  img {
    margin-bottom: 10px;
  }
  .description {
    font-size: 17px;
    margin-bottom: 20px;
  }
  button {
    margin-bottom: 1rem;
  }
  .col-auto {
    padding: 0;
    margin-bottom: 1rem!important;
    text-align: left;
  }
  .title {
    color: #343a40;
    margin-bottom: 10px;
  }
}

// [ Vuelidate ] start
.form-item {
  .error { 
    display: none;
  }
  &.errorInput {
    .error {
      display: block;
    }
  }
  .mb-error {
    margin-bottom: 15px;
    color: #d84860;
    font-size: 13px;;
  }
}
input {
  &.error {
    color: #d84860;
    border-color: #fd93a4;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 13, 0.25);
  }
}
// [ Vuelidate ] end
</style>