<template>
  <div class="container">

    <!-- [ Header ] start -->
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-8 col-md-6">
        <img src="@/assets/images/logo_main.png" alt="Totalflow" width="300">
        <div class="description">Welcome to totalflow</div>
        <h2 class="title">Sign up</h2>
      </div>
    </div>
    <!-- [ Header ] end -->

    <!-- [ Personal and Corporate ] start -->
    <div class="row justify-content-center mb-3">
      <div class="col-xs-12 col-sm-8 col-md-6">

        <div @click="test('Personal')" class="form-group d-inline">
          <div class="checkbox checkbox-primary checkbox-fill d-inline">
            <input id="chk1" type="checkbox" :checked="personal">
            <label for="chk1" class="cr">Personal</label>
          </div>
        </div>

        <div @click="test('Corporate')" class="form-group d-inline">
          <div class="checkbox checkbox-primary checkbox-fill d-inline">
            <input id="chk2" type="checkbox" :checked="corporate">
            <label for="chk2" class="cr">Corporate</label>
          </div>
        </div>

      </div>
    </div>
    <!-- [ Personal and Corporate ] end -->

    <!-- [ Form ] start -->
    <keep-alive>
      <component :is="currentTabComponent"></component>
    </keep-alive>
    <!-- [ Form ] end -->

    <!-- [ Link: Login ] start -->
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-8 col-md-6 block">
        Allready have an account? 
        <router-link to="/login">Login</router-link>
      </div>
    </div>
    <!-- [ Link: Login ] end -->

    <!-- [ Dropdown language ] start -->
    <SelectLanguage/>
    <!-- [ Dropdown language ] end -->

  </div>
</template>

<script>
import SelectLanguage from '@/components/SelectLanguage.vue'
import Personal from '@/components/signup/Personal.vue'
import Corporate from '@/components/signup/Corporate.vue'
export default {
  components: {
    SelectLanguage,
    Personal,
    Corporate
  },
  data() {
    return {
      currentTabComponent: 'Personal',
      personal: true,
      corporate: false,
    }
  },
  methods: {
    test(type) {
      if (type == 'Personal') {
        if (this.personal == true) {
          this.personal = false;
        }
        this.currentTabComponent = 'Personal';
        this.personal = true;
        this.corporate = false;
      } else {
        if (this.corporate == true) {
          this.corporate = false;
        }
        this.currentTabComponent = 'Corporate';
        this.corporate = true;
        this.personal = false;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  text-align: center;
  margin-top: 85px;
  margin-bottom: 20px;
  color: #888;
  img {
    margin-bottom: 10px;
  }
  .description {
    font-size: 17px;
    margin-bottom: 20px;
  }
  button {
    margin-bottom: 1rem;
  }
  .col-auto {
    padding: 0;
    margin-bottom: 1rem!important;
    text-align: left;
  }
  .title {
    color: #343a40;
    margin-bottom: 10px;
  }
}

// [ Personal and Corporate ] start
.roleUser {
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    margin-bottom: 0;
    margin-left: 4px;
    &:first-child {
      margin-right: 10px;
    }
  }
  .personal {
    margin-right: 10px;
  }
}
// [ Personal and Corporate ] end
</style>