<template>
  <div class="container">

    <!-- [ Header ] start -->
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-8 col-md-6">
        <img src="@/assets/images/logo_main.png" alt="Totalflow" width="300">
        <div class="description">Welcome to totalflow</div>
        <h2 class="title">Reset Password</h2>
      </div>
    </div>
    <!-- [ Header ] end -->

    <!-- [ Form ] start -->
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-8 col-md-6">
        <form @submit.prevent="submit">

          <div class="form-item" :class="{errorInput: $v.email.$error}">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <input type="email" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1"
                    v-model="email"
                    :class="{error: $v.email.$error}"
                    @change="$v.email.$touch()">
            </div>
            <div class="error mb-error" v-if="!$v.email.required">Name is required</div>
            <div class="error mb-error" v-if="!$v.email.email">Email is not corect</div>
          </div>

          <button type="submit" class="btn btn-dark btn-block">Reset Password</button>

        </form>
      </div>
    </div>
    <!-- [ Form ] end -->

    <!-- [ Link: Signup and Signin ] start -->
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-8 col-md-6 block">
        Don’t have an account? 
        <router-link to="/registration">Signup</router-link>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-8 col-md-6 block">
        Back to Sign In? 
        <router-link to="/login">Signin</router-link>
      </div>
    </div>
    <!-- [ Link: Signup and Signin ] end -->

    <!-- [ Dropdown language ] start -->
    <SelectLanguage/>
    <!-- [ Dropdown language ] end -->

  </div>
</template>

<script>
import SelectLanguage from '@/components/SelectLanguage.vue'
import axios from 'axios'
import { required, email } from 'vuelidate/lib/validators'
export default {
  components: {
    SelectLanguage
  },
  data() {
    return {
      email: '',
      submitStatus: null
    }
  },
  validations: {
    email: {
      required,
      email
    }
  },
  methods: {
    submit() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR'
        console.log('no submit!')
      } else {
        this.submitStatus = 'PENDING'
        // do your submit logic here
        axios
          .post('http://139.99.21.147:1337/auth/forgot-password', {
            email: this.email,
            url: 'http://139.99.21.147:1337/admin/plugins/users-permissions/auth/reset-password'
          })
          .then(response => {
            // Handle success.
            console.log('Your user received an email');
          })
          .catch(error => {
            // Handle error.
            console.log('An error occurred:', error);
          });
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  text-align: center;
  margin-top: 85px;
  margin-bottom: 20px;
  color: #888;
  img {
    margin-bottom: 10px;
  }
  .description {
    font-size: 17px;
    margin-bottom: 20px;
  }
  button {
    margin-bottom: 1rem;
  }
  .title {
    color: #343a40;
    margin-bottom: 10px;
  }
}

// [ Vuelidate ] start
.form-item {
  .error { 
    display: none;
  }
  &.errorInput {
    .error {
      display: block;
    }
  }
  .mb-error {
    margin-bottom: 15px;
    color: #d84860;
    font-size: 13px;;
  }
} 
input {
  &.error {
    color: #d84860;
    border-color: #fd93a4;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 13, 0.25);
  }
}
// [ Vuelidate ] end
</style>